body {
    background-color: rgb(175, 197, 218);
}

header {
    background: #00b0d800 url(изображения/шапка.jpg) no-repeat;
    position: static;
    height: 8rem;
}

.logo {
    display: inline-block;
    background: none;
    color: rgb(220, 238, 255);
    padding: 2.5rem 0 0 5rem;
    font-size: 200%;
    font-family: "Playfair Display", serif;
    font-weight: 700;
    font-style: italic;
    letter-spacing: 1px;
  }
  
  nav {
      display: inline;
     float: right;
     margin: 2.7rem 5rem 0 0;
  }
  
  .nav-items {
      font-size: 150%;
      font-family: "Playfair Display", serif;
      display: inline-block;
  }
  
   nav a:link { 
      color: rgb(220, 238, 255); 
      text-decoration: none;
      margin-right: 3.5rem;
  }
  
nav a:vizited {
      color: rgb(89, 175, 255);
      text-decoration: none;
  }
 
table {
    border: none;
    width: 950px;
    height: 600px;
    margin: 3rem 15% 2rem 24%;
}

th {
    border: none;
    font-size: 250%;
    font-family: "Playfair Display", serif;
    font-weight: 700;
    font-style: italic;
}

td {
    border: none;
    font-size: 180%;
    font-family: "Merriweather", serif;
    font-weight: 400;
    padding: 2rem 0 0 1rem;
}

.main {
    background-color: none;
    width: 560px;
    height: 80px;
    display: flex;
    margin: 0 0 0 2rem;
}

.grey {
    width: 60px;
    height: 60px;
    background-color: rgb(83, 118, 148);
    margin: 10px 5px 0 5px;
}

.red {
    width: 60px;
    height: 60px;
    background-color: rgb(17, 46, 83);
    margin: 10px 5px 0 5px;
}

footer {
    margin: 4rem auto auto 1rem;
    font-size: 150%;
}